<h1>BXPNW: Add your fave!</h1>

<section class="pagedivs">
  <a href="/{{this.id}}" class="home">I've made a mistake! Take me Home, please.</a>

  <form action="/" method="post" accept-charset="utf-8">
    <p>
      <label>Name:</label><br>
      <input type="text" name="name" />
      <br>
      <label>Business Type:</label><br>
      <input type="text" name="type" />
      <br>
      <label>Owned by: </label><br>
      <input type="text" name="owner" />
      <br>
      <label>Location: </label><br>
      <input type="text" name="neighborhood" />
      <br>
      <label>Description: </label><br>
      <input type="text" name="description" />
      <br>
      <label>Website: </label><br>
      <input type="text" name="url" />
      <br>
      <label>Facebook: </label><br>
      <input type="text" name="facebook" />
      <br>
      <label>Instagram: </label><br>
      <input type="text" name="instagram" />
      <br>
      <label>Pic: </label><br>
      <input type="text" value="Paste the Image Address here" name="pic" />
      <br>
      <label>Alt Text: </label><br>
      <input type="text" value="Enter alt text for screen readers here" name="alt" />
    </p>
    <div class="buttons">
      <input type="submit" value="Add to List" />
    </div>
  </form>

</section>