<h2>Add your fave!</h2>

<form action="/" method="post" accept-charset="utf-8">
  <p>
    <label>Name:</label>
    <input type="text" name="name"/>
  </br>
    <label>Business Type:</label>
    <input type="text" name="type"/>
  </br>
    <label>Owned by:</label>
    <input type="text" name="owner"/>
  </br>
    <label>Location:</label>
    <input type="text" name="neighborhood"/>
  </br>
    <label>Description:</label>
    <input type="text" name="description"/>
  </br>
    <label>Website:</label>
    <input type="text" name="url"/>
  </br>
  </p>
    </br>
    <label>Facebook:</label>
    <input type="text" name="facebook"/>
  </br>
  </p>
    </br>
    <label>Instagram:</label>
    <input type="text" name="instagram"/>
  </br>
  </p>
  <input type="submit" value="Create" />
</form>