body {
    background-color: #B1D6D8;   
}

body::after {
    content: "";
    background: url("https://static.vecteezy.com/system/resources/previews/000/086/896/large_2x/free-vector-seattle-city-skyline.jpg");
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

h1, h2, h3 {
    font-family: "Dokdo", cursive;
    color: #000000; 
    text-shadow: 2px 2px #FFDFD3;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

a, p, b, #text, label {
    font-family: "Economica", sans-serif;
    font-size: 1.4em;
    color: #F5FAFA;
    text-shadow: 2px 2px #868A8B;
    text-decoration: none;
}

a:hover {
    color: #FFDFD3;
}

.update {
    text-decoration: underline;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

input[type=text] {
    width: 70%;
    margin: 8px 0;
    font-family: "Economica", sans-serif;
    font-size: 1em;
    background-color:rgba(255, 225, 211, .5);
    color:#000000;
}

#buttons {
    display: flex;
    justify-content: center;
    cursor: grab;
}

input[type=submit] {
    font-family: "Dokdo", cursive;    
    background-color: #FFDFD3;
    border: none;
    color: #000000;
    margin: 15px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;    
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: a;
    grid-auto-rows: minmax(75px, auto);
    margin: 50px 10px 10px 10px;
}

.homelinks {
    padding: 10px;
    border: 1px solid #FFDFD3;
    background-color: rgba(255, 225, 211, .4)
}

.pagedivs {
    margin: auto auto auto 15px;
}